.footer {
    max-width: 1430px;
    width: 100%;
    margin: auto;
    .container {
        background-color: #252525;
        padding: 70px 120px;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
}
.footer__logo {
    width: 60px;
}
.footer__item--title {
    font-family: "Philosopher";
    font-size: 18px;
    font-weight: 700;
    line-height: 20.16px;
    text-align: left;
    color: #ffffff;
}
.footer__item--list {
    list-style: none;
    color: #FFFFFF;
    opacity: 70%;
    font-size: 14px;
    font-weight: 400;
    line-height: 16.41px;
    text-align: left;
    cursor: pointer;
    margin: 20px 0;
    &:hover {
        opacity: 100%;
        color: red;
    }
}
.footer__item--box {
    display: flex;
    align-items: center;
    gap: 10px;
    .footer__item--img {
        cursor: pointer;
    }
}
@media (max-width: 910px) {
    .footer {
        .container {
            padding: 70px 50px;
        }
    }
}
@media (max-width: 760px) {
    .footer {
        .container {
            padding: 20px;
        }
    }
    .footer__logo {
        width: 55px;
    }
    .footer__item--title {
        font-size: 14px;
        margin-top: 0;
    }
    .footer__item {
        padding: 0;
    }
    .footer__item--list {
        font-size: 12px;
        margin: 10px 0;
    }
}
@media (max-width: 620px) {
    .footer {
        .container {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
        }
    }
    .footer__logo {
        width: 50px;
    }
    .footer__item {
        margin-left: 25%;
    }
    .footer__item--list {
        margin: 7px 0;
    }
}
@media (max-width: 412px) {
    .footer__item {
        margin-left: 10%;
    }
}
@media (max-width: 350px) {
    .footer__item {
        margin-left: 0;
    }
}